{{!< default}}


        <div class="container clearfix">
          <main role="main" class="content">
            {{#foreach posts}}  
              <article class="{{post_class}} post">
                <h2><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
                <footer class="post-info">
                  Posted on <span class="post-meta">
                              <time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="Do MMMM YYYY"}}</time> {{tags separator=", " prefix="Tagged in "}}
                            </span>
                </footer>
                <a href="{{url}}"><img src={{img_url feature_image}} /></a>
                <p>{{excerpt characters="600"}}&hellip;</p>
                  
                <a href="{{url}}" title="{{title}}">Read more &raquo;</a>
              </article>
            {{/foreach}}

            {{pagination}}            
          </main>
          


<!--           <aside class="author">
            
            <img class="profile-image" src="{{asset "img/profile-image.jpg"}}" alt="" />
            <p class="name"><strong>Chris Sainty</strong></p>
            <p class="about">.NET Developer, Angular Fan, Tech Lover.</p>
            <p class="address">Norwich, United Kingdom.</p>
            <p class="link"><a href="https://codedaze.io" title="Code Daze">codedaze.io</a></p>

            <ul class="social">
              <li><a class="icon-github" href="https://github.com/chrissainty" target="_blank" title="Fork me on Github"></a></li>
              <li><a class="icon-linkedin" href="https://www.linkedin.com/in/chris-sainty" target="_blank" title="LinkedIn"></a></li>
              <li><a class="icon-stackoverflow" href="https://stackoverflow.com/users/960169/chris-sainty" target="_blank" title="StackOverflow"></a></li>
            </ul>

          </aside> -->
        </div> 
